.pagina_compra{
    display: flex;
    background-color:#faf4f4;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.resultadoDerecha{
    display: flex;
    background-color:#faf4f4;
    justify-content: space-between;
}
.card_derecha1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    padding: 10px;
    align-items: flex-start;
    border-radius: 5px;
    height: 200px;
    margin-top: -700px;
    margin-left: 100px;
    position: relative;
    z-index: 100;
}
.card_11{
    color: gray; 
    font-weight: 500;
    margin-top: -10px;
}
.card_21{
    font-weight: 600; 
    font-weight: 500;
}
.card_31{
    color: gray;
    font-weight: 500;
}
.card_41{
    font-weight: 600;
    font-weight: 500;
}
.pruebita{
    display: flex;
    background-color:#faf4f4;
}
.vuelos_ida{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    
    gap: 30px;
}
.fecha_salida{
font-size: 20px;
font-weight: 700;
}
.fecha_salida2{
    font-size: 20px;
    font-weight: 700;

}
.info{
    color: gray;
    margin-top: -45px;
}
.seleccion{
    font-weight: 700;
    margin-bottom: -20px;
}
.card_seleccion{
    display: flex;
    background-color:white;
    gap: 30px;
    width: 850px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(189, 185, 185);
    padding: 30px;
}
.hora_salida{
margin-top: 30px;
font-size: 20px;
font-weight: 700;
}
.contenido_escalas{
    margin-top: 0px;
    color: gray;
    height: 150px;
    font-size: 12px;
    width: 100px;
}
.hora_llegada{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}
.boton_maleta{
    border-style: none;
    border-radius: 5px;
    border: solid 2px rgb(197, 195, 195);
    background-color: transparent;
    width: 200px;
    height: 120px;
    margin-top: -15px;
    font-weight: 600;
}
.boton_maleta:hover{
   
    background-color: purple;
    color: white;
}

.cambiar_vuelo{
    border-style: none;
    border-radius: 25px;
    border: solid 2px purple;
    background-color: transparent;
    width: 200px;
    height: 50px;
    margin-top: -15px;
    margin-left: 650px;
    font-weight: 600;
}
.cambiar_vuelo:hover{
   background-color: purple;
   color: white;
   border: solid 2px rgb(197, 195, 195);  
}
.vuelo_regreso{
    font-size: 30px;
    font-weight: 700; 
}
.contenedor_derecha{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;
    margin-right: 80px;
}
.card_derecha{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    padding: 10px;
    align-items: flex-start;
    border-radius: 5px;
}
.card_1{
    color: gray; 
    font-weight: 500;
    margin-top: -10px;
}
.card_2{
    font-weight: 600; 
    font-weight: 500;
}
.card_3{
    color: gray;
    font-weight: 500;
}
.card_4{
    font-weight: 600;
    font-weight: 500;
}
.card_derecha_abajo{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -2px;
    position: relative;
    z-index: 1;
}
.contenedor_card_derecha{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.tarifa{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 500;
}
.descuento{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 500;
}
.base{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 500;
}
.iva{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 500;
}
.total{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.escoger_asientos{
    margin-top: -30px;
    position: relative;
    border-style: none;
    border-radius: 25px;
    border: solid 2px purple;
    background-color: transparent;
    width: 200px;
    margin-top: 20px;
    height: 40px;
    font-weight: 600;
}
.escoger_asientos:hover{
    color: white;
    background-color: purple;

}
.escoger_asientos1{
    border-style: none;
    border-radius: 25px;
    border: solid 2px purple;
    background-color: transparent;
    width: 200px;
    margin-top: 20px;
    height: 40px;
    font-weight: 600;
}
.escoger_asientos1:hover{
    color: white;
    background-color: purple;

}
.guardar:hover{
     background-color: purple;

}

.guardar{
    display: flex;
    justify-content: center;
    width:10px;
  height:10px;
  margin-top: 30px;
  background-color:rgb(197, 195, 195);
  border-style: none;
  padding:8px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: solid 0.5px gray;
  text-transform: uppercase;
  float:left;
  box-shadow: 2px 2px 2px rgb(189, 185, 185);
}