.asientos{
    background-color: #faf4f4;
    display: flex;
    justify-content: space-between;
}
.izquierda{
    margin-left: 100px;
    margin-top: 50px;
    width:800px;
    
}
.info2{
    color: gray;
    margin-top: -25px;
}
.seleccion2{
    font-weight: 700;
    margin-left: 5px;
}
.contenedor_botones{
    display: flex;
    gap: 5px;

    
}
.div_superior{
    display: flex;
    justify-content: space-between;
}
.fecha_salida2{
    font-size: 20px;
    font-weight: 700;
 }
.boton{
    background-color:purple;
    height: 25px;
    width: 25px;
    margin: 5px;
    border-style: none;
    border-radius: 3px;
    justify-content: center;
}
.boton:hover{
 background-color: purple;
}
.botonn{
    background-color:gray;
    height: 25px;
    width: 25px;
    border-style: none;
    border-radius: 3px;
}
.boton2{
    background-color:white;
    height: 25px;
    width: 25px;
    border-style: none;
    border-radius: 3px;
    border: solid 2px purple;
}
.boton2:hover{
 background-color: purple;
}
.boton_mid{
    background-color:white;
    height: 25px;
    width: 25px;
    margin: 5px;
    border-style: none;
    border-radius: 3px;
    padding: 3.5px;
    color: gray;
}
.boton_mid2{
    border-style: none;
    height: 25px;
    width: 25px;
    margin: 5px;
    background-color: transparent;

}
.intermedio{
    display: flex;
    margin-left: 95px;
    color: gray;
    font-size: 10px;
    margin-bottom: -5px;
}
.cambiar_vuelo2{
    border-style: none;
    border-radius: 25px;
    border: solid 2px purple;
    background-color: transparent;
    width: 200px;
    height: 40px;
    font-weight: 600;
}
.cambiar_vuelo2:hover{
   background-color: purple;
   color: white;
   border: solid 2px rgb(197, 195, 195);  
}
.contenedor_derecha2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;
    margin-right: 50px;
}
